.register {
    height: 100dvh;
    width: 100dvw;
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.register .form-group {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 40px);
}

.register img {
    width: 80px;
    margin-bottom: 40px;
}

.register a {
    color: #d38900;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.register .form-group input {
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    max-width: 600px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    font-family: "Raleway";
    outline: none;
    background-color: #f1f1f1;
}

.register .avatars {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.register .avatars img {
    width: calc((100vw - 160px) / 4);
    height: calc((100vw - 160px) / 4);
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    border: 3px solid transparent;
}

.register .avatars img.selected {
    border: 3px solid #ffa401;
}

.register button {
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #ffa401;
    width: calc(100vw - 40px);
    max-width: 600px;
    outline: none;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 600;
}
