.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.home h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.home .profile-pic {
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 10px;
}

.home .stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.home .stats p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.stats p span:first-child {
    background-color: #cee9e08e;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.stats p span:nth-child(2) {
    font-size: 18px;
}

.stats p span:nth-child(3) {
    font-size: 14px;
    color: #494949;
}
  
.calend,
.challe {
    margin-top: 20px;
}

.home h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 60px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    text-align: center;
    width: calc(100vw - 40px);
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cee9e0;
    border-radius: 6px;
}

.calendar-navigation img {
    width: 20px;
}

.calendar-day {
    padding: 10px;
    border: 1px solid #cee9e0;
    border-radius: 5px;
}

.calendar-day.highlighted {
    background-color: #cee9e0;
}

.calendar-day.today {
    background-color: #ffb325;
    border: 1px solid #ffb325;
}

.goaway-animation {
    animation: goaway 1s forwards;
}

@keyframes goaway {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(100%);
    }
}

.calendar-day:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.challe,
.tasks {
    width: calc(100% - 20px);
}

.challe img,
.tasks img {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.challe ul,
.tasks ul {
    padding: 0;
    margin: 0;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.challe ul li {
    display: flex;
    gap: 10px;
    border: 1px solid #cee9e0;
    border-radius: 12px;
    padding: 5px;
}

.tasks div {
    display: flex;
    gap: 10px;
    border: 1px solid #cee9e0;
    border-radius: 12px;
    padding: 5px;
    height: 22px;
    align-items: center;
}

.tasks .task-detail {
    background: #f9f9f9;
    position: fixed;
    width: calc(100% - 12px);
    height: 400px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    display: flex;
    /* border-top-left-radius: 100% 10px;
    border-top-right-radius: 100% 10px; */
    flex-direction: column;
    border: none;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

.tasks li {
    list-style: none;
}

.task-detail {
    background: #f9f9f9;
    position: absolute;
    width: 100vw;
    height: 250px !important;
    bottom: 0;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px 10px #dadada4d;
}
  
.task-detail.enter {
    animation: moveDown 0.3s forwards;
}
  
.task-detail.exit {
    animation: moveUp 0.3s forwards;
}

@keyframes moveUp {
    from {
      transform: translateX(-50%) translateY(0);
    }
    to {
      transform: translateX(-50%) translateY(100%);
    }
}
  
@keyframes moveDown {
    from {
      transform: translateX(-50%) translateY(100%);
    }
    to {
      transform: translateX(-50%) translateY(0);
    }
}
  

.tasks .task-detail .doit {
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cee9e0;
    border-radius: 12px;
    height: 40px;
    border: none;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
}

.tasks .task-detail h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}

.tasks .task-detail p {
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}

.tasks .task-detail .close-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.tasks .task-detail .close-btn img {
    width: 12px;
    height: 12px;
    object-fit: cover;
}

.tasks .task-detail .firebtn {
    position: absolute;
    top: 10px;
    left: 5px;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    width: 20px;
    height: 20px;
    object-fit: cover;
}


.tasks .dail {
    background-color: #cee9e0;
}

.tasks ul li h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks ul li .arr {
    position: absolute;
    right: 16px;
    width: 18px;
}

.challe h4,
.challe h5 {
    margin: 0;
    font-weight: 500;
}

.tasks h4 {
    margin: 0;
    font-weight: 500;
}

.challe h5 {
    font-weight: 600;
}

.challe ul li div {
    height: 22px;
}

.challe h4 {
    text-align: center;
    width: calc(100vw - 100px)
}

/* .challe ul li div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.challe ul li:first-child {
    display: flex;
    align-items: center;
} */

@media (max-width: 400px) {
    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
        text-align: center;
        width: calc(100vw - 20px);
    }
}